{% extends "base.html" %}

{% block content %}
<h1>Продажа автозапчастей</h1>
<p>Мы предлагаем широкий ассортимент автозапчастей по ценам, которые ниже, чем на Сергелинском рынке автозапчастей. Наша основная привилегия - бесплатная доставка, если сумма заказа превышает 500 000 сум.</p>

<p>Мы работаем ради удовлетворения потребностей наших клиентов и стремимся сделать процесс покупки запчастей максимально удобным для вас. Наша команда всегда готова помочь вам выбрать и заказать необходимые автозапчасти.</p>

<p>Спасибо, что выбрали нас!</p>
{% endblock %}
